<div class="lex-web-ui-iframe lex-web-ui-iframe--show lex-web-ui-iframe--minimize" id="lex-web-ui-iframe"
    ><iframe src="https://d2sozpdiqok6m4.cloudfront.net/#/?lexWebUiEmbed=true" frameborder="0" scrolling="no" title="chatbot" allow="microphone; clipboard-read; clipboard-write;"></iframe>
</div>
