<style>

</style>
<div class="feedback">
  {{!-- <a href="#"
      class="like-btn helpful-btn"
      id="yesBtn"
      data-page-rating="like"><i class="far fa-thumbs-up"></i></a> --}}
  

  <a href="#" class="btn any-feedback-btn" 
    id="feedbackTrigger"
    data-jira-component-id="{{page.attributes.jira-component-id}}">
    Report Feedback? </a>

  {{!-- <a href="#" 
      class="dislike-btn helpful-btn" 
      id="noBtn"
      data-page-rating="dislike"><i class="far fa-thumbs-down"></i></a> --}}
</div>
