<style>
.feedback {
  position: fixed;
  right: 0;
  bottom: 3em;
  background: lightgray;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border-radius: 1em 0 0 1em;
  z-index: 99;
}
.feedback a {
    color: black;
}
#feedbackTrigger {
  display: block;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-decoration: none;
}
#yesBtn {
  align-content: center;
  padding: 0;
  margin: 0;
  color: green;
}
#noBtn {
  color: red;
}
</style>
<div class="feedback">
  <a href="#"
      class="like-btn helpful-btn"
      id="yesBtn"
      data-page-rating="like"><i class="far fa-thumbs-up"></i></a>
  

  <a href="#" class="btn any-feedback-btn" id="feedbackTrigger" data-jira-component-id="{{page.attributes.jira-component-id}}">Leave Additional Feedback? </a>

  <a href="#" 
      class="dislike-btn helpful-btn" 
      id="noBtn"
      data-page-rating="dislike"><i class="far fa-thumbs-down"></i></a>
</div>
