<aside class="toc sidebar"
      data-title="{{or page.attributes.toctitle 'Contents'}}"
      data-levels="{{{or page.attributes.toclevels 1}}}">
  <div class="sidebar-box">
    {{> toolbar}}
    <div class="toc-menu"></div>
    
    <div class="is-this-helpful-box">
      <h4> Is this page helpful?</h4>
      <div class="btn-row">
        <a href="#" class="like-btn helpful-btn" id="yesBtn" data-page-rating="like" >
                <i class="far fa-thumbs-up"></i>
            Yes

            </a>
        <a href="#" class="dislike-btn helpful-btn" id="noBtn"  data-page-rating="dislike"> <i class="far fa-thumbs-down"></i> No</a>
      </div>
    </div>
  </div>

</aside>

{{> feedback}}

{{!-- <script src="https://kit.fontawesome.com/4a5569d39d.js" crossorigin="anonymous"></script> --}}
